<!DOCTYPE html>
<html lang="en">
    <%- include('./lib/metadata.ejs', { metadata }) %>
    <body>
        <reaperjs-layout></reaperjs-layout>
        <%- include('./lib/clientSideProps.ejs', { clientSideProps,clientSideNames }) %>
        <script id="root-script" src="/__reaper_generated/<%= script %>.js"></script>
        <link id="root-styles" rel="stylesheet" href="/__reaper_generated/<%= script %>.css">
    </body>
</html>



