<div id="reaper-client-side-props" style="display: none;">
    <%= JSON.stringify(clientSideProps) %>
</div>
<script>
    (function() {
        const propsElement = document.getElementById("reaper-client-side-props");
        if (propsElement) {
            window.reaperClientSideProps = JSON.parse(propsElement.textContent);
            propsElement.remove()
        }
    })();
</script>
