<div id="reaper-client-side-props" style="display: none;">
    <%= JSON.stringify(clientSideProps) %>
</div>
<div id="reaper-client-side-names" style="display: none;">
    <%= JSON.stringify(clientSideNames) %>
</div>
<script id="data-injection-script">
    (function() {
        const propsElement = document.getElementById("reaper-client-side-props");
        if (propsElement) {
            window.reaperClientSideProps = JSON.parse(propsElement.textContent);
            propsElement.remove()
        }
        const propsElement2 = document.getElementById("reaper-client-side-names");
        if (propsElement2) {
            window.reaperClientSideNames = JSON.parse(propsElement2.textContent);
            propsElement2.remove()
        }

        const self = document.getElementById("data-injection-script");
        self.remove()
    })();
</script>
